.banner{
    width: 100%;
    height: 170%;
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #c59db8;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.texto{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(231, 231, 241);
}



.one{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 60px;
    opacity: 80%;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 308px;
    width: 100%;
    text-align: center;
    background-color: rgb(81, 235, 235);
    background-image: url("../profile_sett.jpg");
    background-size: cover;
    background-position: center;
}
.two{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 60px;
    opacity: 80%;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 308px;
    width: 100%;
    text-align: center;
    background-color: gray;
    background-image: url("../join_events.png");
    background-size: cover;
    background-position: center;
}

.three{

    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;

    background-color:rgb(254, 255, 255);
}